body{
    background-color: rgb(237, 241, 247);
}
.div{
    width:250;
    display: flex;
    align-items: center;
}

.text {
    width: 50px;
    height: 50px;
    border-radius: 300px;
}
.header{
    border-style: outset;
    color:aliceblue;
    background-color:burlywood;
    border-radius: 30px;
    border-color: rgb(208, 208, 223);
    display: flex;
    justify-content: space-around;
}
.market{
    color: rgb(61, 61, 70);
}
a{
    /* text-decoration: none; */
}
.nav{
    width: 360px;
    justify-content: space-around;
    display: flex;
    align-items: center;
}